* {
  font-size: 0.95rem;
  transition-duration: 100ms;
}

.navlink {
  display: flex;
}

.bar-btn {
  display: none;
  cursor: pointer;
}

.navbar .navlink a,
.left-navbar a {
  text-decoration: none;
  font-family: math;
}

.left-navbar a {
  /* border: 1px solid #5c65731d; */
  padding: 7px 16px;
  border-radius: 28px;
}

.left-navbar {
  display: none;
  background: linear-gradient(180deg, #0d131e, #0d1219 60%);
  height: calc(100% - 0px);
  width: 254px;
  transition-duration: 140ms;
}

.ph img {
  border: 4px solid #1ae4fa;
}

.box .info {
  margin-block: clamp(34px, 4vw, 50px);
  text-align: center;
}

.rsm-mail {
  place-self: center;
}

.rsm-mail > div {
  cursor: pointer;
  position: relative;
  transition-duration: 100ms;
}

.rsm-mail > div:hover {
  border: 1px solid #e5e5e5;
  transform: translateY(4px);
}

.location {
  text-align: right;
}

.icon {
  /* opacity: 0.7; */
  position: absolute;
  width: calc(20px + 1vw);
  aspect-ratio: 1/1;
  z-index: 1;
  border-radius: 50%;
}

.tailwind {
  top: 20px;
  left: 40px;
  animation: float 3s ease-in-out infinite;
}

.c {
  top: 30px;
  right: 30px;
  animation: float 3.4s ease-in-out infinite;
}

.react {
  bottom: 80px;
  left: -5px;
  animation: rotate 3s linear infinite;
}

.css {
  bottom: -14px;
  right: calc(54% - 20px);
  animation: swing 2s ease-in-out infinite;
}

.node {
  bottom: 70px;
  right: -10px;
  animation: float 3.8s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

li {
  list-style: none;
  letter-spacing: 0.8;
  line-height: normal;
}

h5 b,
.m-h {
  color: #1ae4fa;
}

.stack span {
  /* border: 1px solid #5cc0db; */
  border-radius: 20px;
}

.view {
  padding: 4px 14px;
  border-radius: 20px;
  text-decoration: none;
  width: fit-content;
}

.view:hover {
  border-color: #1ae4fa;
  background-color: #1ae4fa;
  color: #b1b8b9 !important;
}

/* ---------------------------------- */

.input {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 60%;
  padding: 4px 0 !important;
  border: none;
  outline: none !important;
}

.social {
  display: flex;
}

.ssl-icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 4vw;
}

.badge {
  transition-duration: 1000ms;
}

@media (max-width: 601px) {
  .media {
    margin: 2vw 2vw;
    gap: 5vw;
  }

  .navbar {
    padding: 0.7rem 2vw !important;
  }

  .m-br {
    border-left: 1px solid #1a2347da;
    padding-left: 1.4rem;
  }

  .navlink {
    display: none !important;
  }

  .bar-btn {
    display: block;
  }

  .left-navbar {
    display: flex !important;
  }

  .point {
    padding: calc(2% + 2vw);
  }

  li {
    list-style: none;
    font-size: 0.8875rem;
  }

  .social {
    display: block;
  }

  .ssl-icon {
    /* display: flex; */
    /* width: 100%; */
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));

    gap: 7vw;
    flex-wrap: wrap;
    /* flex-direction: row !important; */
  }

  .Reach {
    display: block !important;
  }
}

@media (min-width: 601px) and (max-width: 1041px) {
  .media {
    margin: 2vw 4vw;
    gap: 3vw;
  }

  .navbar {
    padding: 0.7rem 4vw !important;
  }

  .ssl-icon {
    gap: 32px 7vw;
  }
}

@media (min-width: 1041px) {
  .media {
    /* border: 1px solid red; */
    margin: 2vw 10vw;
    gap: 3vw;
  }

  .navbar {
    padding: 0.7rem 8vw !important;
  }
}
