* {
  transition: 0.2s;
}

/* .grand-project {
  background: linear-gradient(180deg, #dab5ff, #f0d9ff);
} */

.project-container {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 4;
  /* border: 2px solid red; */
  line-clamp: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  padding: 2%;
  gap: calc(10px + 2vw);
  padding: 2vw calc(2% + 4vw);
  background: transparent;
}

.sharp {
  /* margin-inline: calc(2% + 2vw); */
  margin-block: 20px;
}

.project-card {
  border-radius: 7px;
  overflow: hidden;
  /* flex-grow: 1; */

  display: flex;
  flex-direction: column;
  padding: 4px 16px;
  /* color: #272828; */
  color: #cbcbcb;

  z-index: 5;
  /* border: 1px solid red; */
  /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); */
  /* background: linear-gradient(90deg, #f1f1f1, #ffffff); */
  transition: 0.5s;
  border: 1px solid #757575;
}

.project-img-container {
  /* border: 1px solid red; */
  background: linear-gradient(90deg, #ffffff, #f1f1f1);
}

.project-card:hover {
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); */
  border: 1px solid rgb(243, 219, 255);
}

.m-card-title {
  font-size: clamp(1rem, 4vw, 1.2rem);
  margin: 12px 0;
  min-width: max-content;
}

.m-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ccc;
}
